<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новий пароль</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 flex items-center justify-center h-screen">

<div class="bg-white p-8 shadow-md rounded w-96">
    <h2 class="text-2xl font-bold mb-4 text-center">Встановити новий пароль</h2>

    <div th:if="${error}" class="text-red-600 mb-4 text-center" th:text="${error}"></div>

    <div th:if="${message}" class="text-green-600 mb-4 text-center" th:text="${message}"></div>

    <p th:if="${message}" class="text-center text-blue-600 mt-2">
        <a th:href="@{/login}" class="hover:underline">Перейти на сторінку входу</a>
    </p>

    <form th:action="@{/reset-password}" method="post" th:if="${message == null}">
        <input type="hidden" name="token" th:value="${token}" />

        <label>Новий пароль</label>
        <input type="password" name="password" class="border rounded w-full py-2 px-3 mb-4" required/>

        <label>Підтвердження паролю</label>
        <input type="password" name="confirmPassword" class="border rounded w-full py-2 px-3 mb-4" required/>

        <button type="submit"
                class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">
            Змінити пароль
        </button>
    </form>
</div>

</body>
</html>
